/* src/index.css */

/* 1. Reset Global */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Fond par défaut si une page n'a pas de fond */
}

/* 2. Box-sizing pour éviter les débordements */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 3. Le conteneur racine de React (Doit prendre tout l'espace) */
#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}